
<div ng-app="Deapmines" ng-controller="BaseCtrl">
<center>
   <h1>Mine Grid</h1>

   <button id="test" onclick="joinGame()">Join Game</button>
 </center>
<hr>
<hr>

   <div id="boardHolder"></div>
</div>
